<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1> <a href="#/" id="retour-btn"><i class="fa fa-chevron-left" aria-hidden="true"></i></a> Mentions Légales</h1>
            </div>
        </div>
    </div>
</nav>

<div class="container content-app">
    <div class="row">
        <div class="col-sm-12">
            <h3>Statut</h3>
            <p>Lycée Privé Saliège – Département Licence Professionnelle RTAI
                <br> Adresse : 3 rue Georges Bernanos
                <br> BP 33130
                <br> 31131 Balma cedex</p>

            <h3>Réalisation technique</h3>
            <p>Cette application a été réalisée et développée par l’équipe Tolosa'Vélo de la formation RTAI (2016-2017) :</p>
            <ul class="liste">
                <li>Rémi Robichet</li>
                <li>Lucas Rachou</li>
                <li>Pierre Cicuto</li>
                <li>Léa Bouziat</li>
                <li>Sandra Muniglia</li>
            </ul>

            <h3>Droits d'auteurs</h3>
            <p>La structure générale, ainsi que les textes, photos, images et sons, composant ce site sont la propriété de la licence professionnelle RTAI. Toute reproduction, totale ou partielle, et toute représentation du contenu substantiel de ce site, d’un ou de plusieurs de ses composants, par quelque procédé que ce soit, sans autorisation expresse de la licence professionnelle RTAI, est interdite, et constitue une contrefaçon sanctionnée par les articles L.335-2 et suivants du Code de la propriété intellectuelle.</p>

            <h3>Données personnelles</h3>
            <P>Conformément à la loi française (article 27 de la loi n° 78.17 du 06.01.78 relative à l’informatique, aux fichiers et aux libertés) vous disposez d’un droit d’accès et de rectification des données qui vous concernent. Vous pouvez exercer ce droit auprès de licence professionnelle RTAI. Pour plus d’informations sur la loi « Informatique et Libertés », vous pouvez consulter le site Internet de la CNIL.</P>
            
        </div>
    </div>
</div>

<!-- <h3>Hébergement</h3>
<p>L’hebergeur de l'application : </p> -->